# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.*
!.env.example
!.env.production
!client/.env.production
client/.env
server/.env

# Builds
client/dist/
dist/

# Vercel
.vercel/

# Logs
*.log

# OS
.DS_Store
Thumbs.db